.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
media/demo/*.gif
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.conda
tex/**
demo/**
plan.md
CLAUDE.md
*.vsix
!node_modules\@iktakahiro\markdown-it-katex\node_modules\katex\dist
